{% extends "base_generic.html" %}

{% block title %}
    <title>Log in</title>
{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href={% static 'css/login.css' %}>
{% endblock %}

{% block content %}
<div id="login" class="text-center">
    {% if user.is_authenticated %}
        <p class="err-login">Je bent al ingelogd, <em> pannenkoek!</em> <br>Keer terug naar de <a href="{% url 'index' %}">startpagina</a>, of <a href="{% url 'logout' %}">log uit</a>.</p>
    {% else%}
        {% if form.errors %}
            <p>Je wachtwoord en gebruikersnaam komen niet overeen, probeer opnieuw</p>
          {% endif %}

          {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
      {% endif %}

        <form class="form-signin" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Vul uw gegevens in</h1>
            {{ form.username }}
            {{ form.password }}
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    {% endif %}
</div>
{% endblock %}