<!DOCTYPE html>
<html lang="nl">
<head>
    {% block title %}<title>Wereldreis</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">WWWereldreis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        {% block navbar %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'reisgids' %}">Reisgids</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown inactive">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Spel</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'question-list' %}">Vragenoverzicht</a>
                    <a class="dropdown-item" href="{% url 'teams' %}">Ranglijst</a>

                </div>
            </li>

            {% endif %}
        </ul>
        {% endblock %}
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="">{{ user.username }}</a>
            </li>
            <li class="nav-item inactive">
                <a class="nav-link" href="{% url 'logout' %}"> Log out</a>
            </li>
        {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'log-in' %}">Log in</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer class="footer text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">
                <svg class="bi bi-arrow-bar-up" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.354 5.854a.5.5 0 000-.708l-3-3a.5.5 0 00-.708 0l-3 3a.5.5 0 10.708.708L8 3.207l2.646 2.647a.5.5 0 00.708 0z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M8 10a.5.5 0 00.5-.5V3a.5.5 0 00-1 0v6.5a.5.5 0 00.5.5zm-4.8 1.6c0-.22.18-.4.4-.4h8.8a.4.4 0 010 .8H3.6a.4.4 0 01-.4-.4z" clip-rule="evenodd"/>
                </svg>
            </a>
        </p>
        <p>
            WWWereldreis is een project van <em>Mark den Besten</em>.<br> Heb je op of aanmerkingen? stuur me dan een berichtje.
            Wil je de code zien? kijk dan op
            <a href="https://github.com/MarkdenBesten/WWWereldreis">Github</a>
        </p>
    </div>
</footer>
<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>