{% extends "base_generic.html" %}

{% block content %}
    <h1>WWWereldreis</h1>

    <p><em>Het zijn bijzondere tijden.</em> We mogen de deur niet meer uit. Ieders wereldje is momenteel erg klein
        geworden. Vandaar dit spel. Virtueel buitenkomen is ook buitenkomen.
    </p>
    <p>Deze website is een hobby-project. Ik vind het leuker om dingen te laten werken, dan om alles tot in de puntjes er mooi uit
        te laten zien. Vandaar dat er her en der wat schoonheidsfoutjes te vinden zijn. Mocht je bugs of spelfouten
        tegenkomen, laat het me ook weten, zodat ik ze kan verhelpen.
    </p>
    <p>Het spel begint om <b>{{ start }}</b> en is afgelopen om <b>{{ einde }}</b></p>

    <h2>Hoe werkt het?</h2>
    <p>Je kunt de hele uitleg lezen in de <a href="{% url 'reisgids' %}">reisgids</a>, daar zijn ook een paar handige
    tips en tricks te vinden!</p>
    <h3>Veel te lang, moet korter</h3>
    <p>WWWereldreis is een spel waar het je op het internet op zoek gaat naar antwoorden op vragen zoals: Ga naar de
        paper town uit paper towns; en Zoek het land waar het internetgebruik afneemt. Voor elke goede vraag krijg je
        een punt, degene met de meeste punten wint.</p>
    <h3>Nog korter</h3>
    <p>Wereldreis is een spel op het internet. </p>
    <h3>Kort!</h3>
    <p>Spel!</p>
{% endblock %}

