{% extends 'base_generic.html' %}

{% block content %}
    {% if gebruiker.teamprofile.current_question != question.nr%}
        <h1>Deze vraag heb je al beantwoord!</h1>
        <p>Je bent bij vraag {{ gebruiker.teamprofile.current_question }}, dit is vraag {{ question.nr }}</p>
        <a href="{% url 'question-list' %}">klik hier om terug te keren naar het vragenoverzicht</a>


    {% else %}
        <h1>{{ question.title }}</h1>
        {% if question.nr == 1 %}
            <p>Dit is een instapvraag om te oefenen met de Spelwebsite. De vraag werkt hetzelfde als andere reisvragen:</p>
            <ul>
                <li>Bij een goed antwoord krijg je een punt.</li>
                <li>Bij een fout antwoord moet je 5 minuten wachten tot je het opnieuw mag proberen.</li>
                <li>Als je er niet uit komt mag je een joker gebruiken om naar de volgende vraag te gaan. Je krijgt dan geen punt voor de vraag</li>
                <li>Je kunt niet terugkeren naar een vorige vraag als je een joker hebt ingezet</li>
            </ul>
        {% elif question.nr == 2 %}
            <p>De vragen beginnen makkelijk en zullen steeds moeilijker worden.</p>
            <ul>
                <li>De Joker wordt pas beschikbaar 15 minuten na het beantwoorden van de vorige vraag.</li>
                <li>Als je 5 minuten moet wachten omdat je een fout antwoord hebt gegeven kun je wél een joker inzetten</li>
                <li>Omdat Google Maps niet gratis is wordt Bing Maps gebruikt.</li>
                <li>Er zijn in totaal {{ num_questions }} vragen, dit is vraag {{ question.nr }}.</li>
            </ul>
        {% endif %}
        <p>{{ question.content }}</p>
        {% if question.fileUrl %}
            {% load static %}
            <p><a href="{% static 'gamedata'%}/{{ question.fileUrl }}">{{ question.fileUrl }}</a> </p>
        {% endif %}
        <p style="color: red">{{ error }} {{ tijd }}</p>

        <form action="" method="post" id="formulier" hidden>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>

        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-4">
                <button id="use-joker" type="button" class="btn btn-outline-danger btn-block">Gebruik Joker</button>
            </div>
            <div class="col-md-4">
                <button id="place-here" type="button" class="btn btn-outline-info btn-block">Plaats Marker in het midden</button>
            </div>
            <div class="col-md-4">
                <button id="give-answer" type="button" class="btn btn-outline-primary btn-block">Geef  locatie als Antwoord</button>
            </div>
        </div>
        <div id="myMap" style="height: 70vh; width: 100%"></div>
        <div style="padding-bottom: 2rem"></div>

        {% load static %}
        <script type="text/javascript" src="{% static 'scripts/map-question.js' %}"></script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AoHKnyjuOMY9kHy8tfvgdka9vQTddjLtVWwiEObTn_5M4QFokFXeKtiF3_6Mxbr0&callback=loadMapScenario' async defer></script>
    {% endif %}
{% endblock %}