{% extends 'base_generic.html' %}

{% block content %}
    {% if gebruiker.teamprofile.current_question != question.nr%}
        <h1>Deze vraag heb je al beantwoord!</h1>
        <p>Je bent bij vraag {{ gebruiker.teamprofile.current_question }}, dit is vraag {{ question.nr }}</p>
        <a href="{% url 'questions' %}">klik hier om terug te keren naar het vragenoverzicht</a>


    {% else %}
        <h1>{{ question.title }}</h1>
        <p>{{ question.content }}</p>
        <p style="color: red">{{ error }} {{ tijd }}</p>

        <form action="" method="post" id="formulier" hidden>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>

        <button id="use-joker">Zet joker in</button>
        <button id="give-answer">Geef huidige locatie als Antwoord</button>
        <button id="place-here" >Plaats pin in het midden</button>
        <div></div>
        <div style="height: 1vh"></div>
        <div id="myMap" style="height: 70vh; width: 60vw"></div>
        <div style="padding-bottom: 2rem"></div>
        {% load static %}
        <script type="text/javascript" src="{% static 'scripts/map-question.js' %}"></script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AoHKnyjuOMY9kHy8tfvgdka9vQTddjLtVWwiEObTn_5M4QFokFXeKtiF3_6Mxbr0&callback=loadMapScenario' async defer></script>
    {% endif %}
{% endblock %}