{% extends "base_generic.html" %}

{% block content %}
    <h1 xmlns="http://www.w3.org/1999/html"> Vragenoverzicht</h1>
    {%  if perms.game.can_edit %}
        <a href="{% url 'question-create' %}"> Voeg een nieuwe vraag toe</a><br><br>
    {% endif %}
    {% if question_list %}
        <table class="table">
            {% for question in question_list %}
                {% if perms.game.can_view_all_questions %}
                    <tbody>
                        <tr>
                            <td><a href="{{ question.get_absolute_url }}"><b>{{ question.nr }}</b>: {{ question.title }}</a></td>
                            {% if perms.game.can_view_answer %}
                                <td><a href="{{ question.get_absolute_url }}/answer/">Antwoord</a></td>
                            {% endif %}
                        </tr>
                    </tbody>
                {% else %}
                    {% if user.teamprofile.current_question  ==  question.nr   %}
                        <tr>
                            <td><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></td>
                            {% if perms.game.can_view_answer %}
                                <td><a href="{{ question.get_absolute_url }}/answer/">Antwoord</a></td>
                            {% endif %}
                        </tr>

                    {% elif user.teamprofile.current_question  >  question.nr %}
                        <!-- Delete these comments to display all finished questions
                        <tr>
                            <td>{{ question.title }}</td>
                            {% if perms.game.can_view_answer %}
                                <td><a href="{{ question.get_absolute_url }}/answer/">Antwoord</a></td>
                            {% endif %}
                        </tr> -->
                    {% endif %}
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        <p> Er zijn momenteel geen vragen, voeg een nieuwe vraag toe</p>
    {% endif %}
{% endblock %}