{% extends "base_generic.html" %}

{% block title %}
    <title>{{ question.title }}</title>
{% endblock %}

{% block content %}

    <h3>Vraag {{ question.nr }}</h3>
    {% if perms.game.can_edit %}
        <p><a href='{{ question.get_absolute_url }}/update/'>Wijzig vraag</a> Of <a href='{{ question.get_absolute_url }}/delete/'>Verwijder vraag</a> </p>
    {% endif %}
    <h1>{{ question.title }}</h1>
    {% if question.nr == 1 %}
        <p>Dit is een instapvraag om te oefenen met de Spelwebsite. De vraag werkt hetzelfde als andere reisvragen:</p>
        <ul>
            <li>Bij een goed antwoord krijg je een punt.</li>
            <li>Bij een fout antwoord moet je 5 minuten wachten tot je het opnieuw mag proberen.</li>
            <li>Als je er niet uit komt mag je een joker gebruiken om naar de volgende vraag te gaan. Je krijgt dan geen punt voor de vraag</li>
            <li>Je kunt niet terugkeren naar een vorige vraag als je een joker hebt ingezet</li>
        </ul>
    {% elif question.nr == 2 %}
        <p>De vragen beginnen makkelijk en zullen steeds moeilijker worden.</p>
        <ul>
            <li>De Joker wordt pas beschikbaar 15 minuten na het beantwoorden van de vorige vraag.</li>
            <li>Als je 5 minuten moet wachten omdat je een fout antwoord hebt gegeven kun je wél een joker inzetten</li>
            <li>Omdat Google Maps niet gratis is wordt Bing Maps gebruikt. Deze komen soms niet helemaal overeen.</li>
            <li>Er zijn in totaal {{ num_questions }} vragen, dit is vraag {{ question.nr }}.</li>
        </ul>
    {% elif question.nr == num_quesstions %}
        <p>Dit is de laatste vraag </p>
    {% endif %}
    <p>{{ question.content }}</p>
    {% if question.fileUrl %}
        <p><a href="URL-image{{ question.fileUrl }}">URL-image{{ question.fileUrl }}</a> </p>
    {% endif %}

    <p>{{ team.answer }}</p>

    <!-- TODO add option to see answered location(s) -->
    {{ question.Alat|json_script:"Alat" }}
    {{ question.Alon|json_script:"Alon" }}
    {{ question.Blat|json_script:"Blat" }}
    {{ question.Blon|json_script:"Blon" }}
    {{ question.Clat|json_script:"Clat" }}
    {{ question.Clon|json_script:"Clon" }}
    {{ question.Dlat|json_script:"Dlat" }}
    {{ question.Dlon|json_script:"Dlon" }}


    <p><em>{{ question.explanation }}</em></p>

    <div align="center">
        <button id="show-answers" type="button" class="btn btn-primary btn-block">Laat mijn antwoorden zien</button>
    </div>

    <div style="padding: 1rem"></div>

    <div id="myMap" style="width: 100%; height: 70vh"></div>

    <div style="padding-bottom: 5rem"></div>

    {% load static %}
    <script type="text/javascript" src="{% static 'scripts/map-view-correct-answer.js' %}"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AoHKnyjuOMY9kHy8tfvgdka9vQTddjLtVWwiEObTn_5M4QFokFXeKtiF3_6Mxbr0&callback=loadMapScenario' async defer></script>
{% endblock %}